<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Welcome to Språkkraft!</h2>
  <p>
    Filter: <input type="text" [(ngModel)]="filter" (keyup)="filterChange()">
    <ion-item class="drop-down">
    <ion-label>POS</ion-label>
    <ion-select [(ngModel)]="pos" (ngModelChange)="filterChange()">
      <ion-option value="" >Any part of speech</ion-option>
      <ion-option value="NN" >Noun</ion-option>
      <ion-option value="VB">Verb</ion-option>
      <ion-option value="JJ">Adjective</ion-option>
      <ion-option value="RB">Adverb</ion-option>
    </ion-select>
    </ion-item>
    Date From: <input type="date" [(ngModel)]="dateFrom" [disabled]="isDisabled()" (change)="filterChange()">
    Date To: <input type="date"  [(ngModel)]="dateTo" [disabled]="isDisabled()" (change)="filterChange()">
    <ion-checkbox (click)="filterCheck()" ></ion-checkbox> Disable Filter
  </p>
  <p class="left-table">
    <ion-list>
      <button ion-item *ngFor="let word of words" (click)="itemSelected(word)" [ngClass]="{ 'left-table-item': itemColor(word) }">
        {{word.word}} : {{word.dateUpdated}}
      </button>  
    </ion-list>
    <button ion-button  (click)="addReqInd()" [disabled]="addDisabled()">Add Word</button>    
  </p>
  <p class="right-table" *ngIf="showTranslation">  
    <ion-list>
        <button ion-item *ngFor="let trans of singleArr" (click)="itemSelectedDetail(trans)" [ngClass]="{ 'right-table-item': itemColorDetail(trans) }">
        <!-- {{current.word}} | {{trgsRender(trans.el1.dataElem?.trgs)}} : {{trgsRender(trans.el1?.trgExt)}} : {{trans.el2.altElem?.trgs}} : {{trans.el2?.trgExt}} : {{trans.el2.altElem?.synset}} -->       
        {{current.word}} | {{renderTranslationElement (trans.el2.altElem?.synset, trans.el1.dataElem?.trgs, trans.el1?.trgExt)}} | {{renderTranslationElement (trans.el2.altElem?.synset, trans.el2.altElem?.trgs, trans.el2?.trgExt)}} | {{trans.el2.altElem?.synset}}
        </button>   
        <button  ion-button (click)="editTranslation()"> Edit </button>
        <button ion-button (click)="addTranslation()"> Add Translation</button>
  </ion-list>
</p>
  <p class="absolute" *ngIf="addReq">
     Inserting new word:
     <br/> <br/> <br/>
      Word: <input  type="text" [(ngModel)]='wordIns' value='test'> <br/> <br/>
      POS: <input type="text" [(ngModel)]='posIns'> <br/> <br/>
      <br/> <br/>
      <button ion-button (click)="addWordFromList()" class="save-button"> Save </button>
      <button ion-button (click)="addReqInd()" class="cancel-button"> Cancel </button>
      <button ion-button (click)="clearAll()" class="clear-all-button"> Clear All </button>
  </p>
  <ion-list *ngIf="editMode">
  <p  *ngFor="let trans of (singleArr); let i = index" (click)="itemSelectedDetail(trans)"  [ngClass]="{ 'right-table-item': itemColorDetail(trans) }">
       {{current.word}} | 
       <input  class="edit-input" type="text"
          [id]="'trans' + i" [value]="renderTranslationElement (trans.el2.altElem?.synset, trans.el1.dataElem?.trgs, trans.el1?.trgExt)" (input)="transChange(trans, 'trans' + i)"> 
        {{renderTranslationElement (trans.el2.altElem?.synset, trans.el2.altElem?.trgs, trans.el2?.trgExt)}} | {{trans.el2.altElem?.synset}} |   <a href="#" (click)="deleteTranslation(trans,i)" > delete </a>
       <br/>  
    </p> 
    <button ion-button (click)="updateTranslation()"> Save </button>
    <button ion-button (click)='cancelEditTrans()' style="float: left"> Cancel </button>
  </ion-list> 

</ion-content>
