<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Welcome to Språkkraft!</h2>
  <ion-grid>
    <ion-row>
      <ion-item>
        <ion-input placeholder="Filter" [(ngModel)]="filter" (keyup)="filterChange()"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>POS</ion-label>
        <ion-select [(ngModel)]="pos" (ngModelChange)="filterChange()">
          <ion-option value="">Any part of speech</ion-option>
          <ion-option value="NN">Noun</ion-option>
          <ion-option value="VB">Verb</ion-option>
          <ion-option value="JJ">Adjective</ion-option>
          <ion-option value="RB">Adverb</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Date From:</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="dateFrom" [disabled]="isDisabled()" (change)="filterChange()"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Date To:</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="dateFrom" [disabled]="isDisabled()" (change)="filterChange()"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label>Disable date Filter</ion-label>
        <ion-checkbox (click)="filterCheck()"></ion-checkbox>
      </ion-item>
    </ion-row>
  </ion-grid>
  <p class="left-table">
    <ion-list>
      <button ion-item *ngFor="let word of words" (click)="itemSelected(word)" [ngClass]="{ 'left-table-item': itemColor(word) }">
        {{word.word}}
      </button>
    </ion-list>
    <button ion-button (click)="addReqInd()" [disabled]="addDisabled()">Add Word</button>
  </p>
  <p class="right-table" *ngIf="showTranslation">
    <ion-grid>
      <ion-row class="table-header">
        <ion-item>Spanish</ion-item>
        <ion-item>English</ion-item>
        <ion-item>Synset</ion-item>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-list>
            <button ion-item *ngFor="let trans of singleArr" (click)="itemSelectedDetail(trans)">    
        {{renderTranslationElement (trans.el2.altElem?.synset, trans.el1.dataElem?.trgs, trans.el1?.trgExt)}}
        </button>
          </ion-list>
        </ion-col>
        <ion-col>
          <ion-list>
            <button ion-item *ngFor="let trans of singleArr" (click)="itemSelectedDetail(trans)">    
        {{renderTranslationElement (trans.el2.altElem?.synset, trans.el2.altElem?.trgs, trans.el2?.trgExt)}}
        </button>
          </ion-list>
        </ion-col>
        <ion-col>
          <ion-list>
            <button ion-item *ngFor="let trans of singleArr" (click)="itemSelectedDetail(trans)">    
        {{trans.el2.altElem?.synset}}
        </button>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <button ion-button (click)="editTranslation()"> Edit Translation</button>
      </ion-row>
    </ion-grid>
    <ion-card class="info-card">
      <ion-card-header>
        Information
      </ion-card-header>
      <ion-card-content>
        Created: {{current.dateUpdated}}
      </ion-card-content>
    </ion-card>
  </p>
  <p class="absolute" *ngIf="addReq">
    <ion-list>
      <ion-item>
        <ion-label color="primary">Inserting new word</ion-label>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Word" type="text" [(ngModel)]='wordIns'></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>POS</ion-label>
        <ion-select [(ngModel)]="posIns">
          <ion-option value="">Any part of speech</ion-option>
          <ion-option value="NN">Noun</ion-option>
          <ion-option value="VB">Verb</ion-option>
          <ion-option value="JJ">Adjective</ion-option>
          <ion-option value="RB">Adverb</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <button ion-button (click)="addWordFromList()" class="save-button"> Save </button>
    <button ion-button (click)="addReqInd()" class="cancel-button"> Cancel </button>
  </p>
  <ion-list class="editmod" *ngIf="editMode">
    <p>
      <ion-grid>
        <ion-row class="table-header">
          <ion-item>Spanish</ion-item>
          <ion-item>English</ion-item>
          <ion-item>Synset</ion-item>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-list *ngFor="let trans of (singleArr); let i = index" (click)="itemSelectedDetail(trans)" [ngClass]="{ 'right-table-item': itemColorDetail(trans) }">
              <input  class="edit-input" type="text" [id]="'trans' + i" placeholder="Add new word here" value="{{renderTranslationElementEdit (trans.el2.altElem?.synset, trans.el1.dataElem?.trgs, trans.el1?.trgExt)}}"
                (input)="transChange(trans, 'trans' + i)">
              <!--<button *ngIf="!inputValue" ion-item (click)="itemSelectedDetail(trans)"> {{renderTranslationElementEdit (trans.el2.altElem?.synset, trans.el1.dataElem?.trgs, trans.el1?.trgExt)}}</button>-->
            </ion-list>
          </ion-col>
          <ion-col>
            <ion-list>
              <button ion-item *ngFor="let trans of singleArr" (click)="itemSelectedDetail(trans)">    
        {{renderTranslationElementEdit (trans.el2.altElem?.synset, trans.el2.altElem?.trgs, trans.el2?.trgExt)}}
        </button>
            </ion-list>
          </ion-col>
          <ion-col>
            <ion-list>
              <button ion-item *ngFor="let trans of singleArr" (click)="itemSelectedDetail(trans)">    
        {{trans.el2.altElem?.synset}}
        </button>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
    </p>
    <button ion-button (click)="updateTranslation()"> Save </button>
    <button ion-button (click)='cancelEditTrans()' style="float: left"> Cancel </button>
  </ion-list>
</ion-content>