page-home {

    .table-header ion-item {
        color: map-get($colors, primary);
    }

    .absolute {
        display: inline-block;
        width: 50%;
    }

    .left-table {
        width:50%;
        float:left;

        .left-table-item {
            color: white;
            background-color: lightblue;
        }
    }

    .right-table {
        float:right;
        width:50%;

        .info-card ion-card-header {
            color: map-get($colors, primary);
        }

        .right-table-item {
            color: white;
            background-color: lightblue;
            position:relative; 
            display:block;
        }
    }

    .editmod {
        display: inline-block;
        width: 50%;

        p {
            display: flex;
            margin-left: 10px;
        }

        .edit-input {
        height: 35px;
        margin-top: 2px;
        width: 100%;
        }
    }
}
