page-home {    
    div.relative {
        position: relative;
        left: 30px;
        top: 50px;
        border: 3px solid #73AD21;
    }

    div.absolute {
        width:40%;
        position: fixed;
        top: 280px;
        left: 10;
        width: 100px;
        height: 200px;
        background-color: cadetblue;
        border: 3px solid #73AD21;

        .save-button {
            position: absolute; 
            left: 20%; 
            right: 20%; 
            bottom: 5%;
        }

        .cancel-button {
            position: absolute;
            left: 40%; 
            right: 20%; 
            bottom: 5%;
        }

        .clear-all-button {
            position: absolute; 
            left: 60%; 
            right: 20%; 
            bottom: 5%; 
        }
    }

    div.sameLine {
    float:left;
    background-color: black;
    width: 100px;
    }

    .drop-down {
        width: 20%;
        display: inline-block;
        top: 10px;
        padding-right: 16px;
    }

    .left-table {
        width:50%;
        float:left;

        .left-table-item {
            color: white;
            background-color: lightblue;
        }
    }

    .right-table {
        float:right;
        width:50%;

        .right-table-item {
            color: white;
            background-color: lightblue;
            position:relative; 
            display:block;
        }
    }

    .edit-input {
        background-color:rosybrown;
        width:200px;
    }
}
